<form method="POST">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="">Nama Kota</label>
                <input type="text" class="form-control" id="nama_kota" name="nama_kota">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="">Tanggal Pembuatan Dokumen</label>
                <input type="text" class="form-control" id="tanggal_pembuatan_dokumen" name="tanggal_pembuatan_dokumen">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="">Judul Dokumen</label>
                <input type="text" class="form-control" id="judul_dokumen" name="judul_dokumen">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="">Nomor Dokumen</label>
                <input type="text" class="form-control" id="nomor_dokumen" name="nomor_dokumen">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="">Kode Departemen</label>
                <input type="text" class="form-control" id="kode_departemen" name="kode_departemen">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="">Bulan</label>
                <input type="text" class="form-control" id="bulan_ini" name="bulan_ini">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="">Tahun</label>
                <input type="text" class="form-control" id="tahun_ini" name="tahun_ini">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="">Tgl Mulai Dokumen</label>
                <input type="text" class="form-control" id="tanggal_mulai_dokumen" name="tanggal_mulai_dokumen">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="">Tgl Selesai Dokumen</label>
                <input type="text" class="form-control" id="tanggal_selesai_dokumen" name="tanggal_selesai_dokumen">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="">Isi Dokumen</label>
                <input type="text" class="form-control" id="isi_dokumen" name="isi_dokumen">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="">Nama Pihak Pertama</label>
                <input type="text" class="form-control" id="nama_pihak_pertama" name="nama_pihak_pertama">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="">Nama Pihak Kedua</label>
                <input type="text" class="form-control" id="nama_pihak_kedua" name="nama_pihak_kedua">
            </div>
        </div>
    </div>
    <br>
  <div>
    <input class="btn btn-primary mr-2" type="submit" value="Create" />
    <a class="btn btn-secondary" href="/onedrive">Cancel</a>
  </div>
</form>